<div class="wrapper">
    <div class="list column-align center">
        <div class="item column-align">
            <div class="key">Document Id</div>
            <div class="value">{{index.docId}}</div>
        </div>
        <div class="item column-align">
            <div class="key">Document Name</div>
            <div class="value">{{index.name}}</div>
        </div>
        <div class="item column-align">
            <div class="key">Owner</div>
            <div class="value">{{index.owner}}</div>
        </div>
        <div class="item column-align">
            <div class="key">Upload Date</div>
            <div class="value">{{index.upload_date}}</div>
        </div>
        <div class="item column-align">
            <div class="key">Last Modified</div>
            <div class="value">{{index.modified}}</div>
        </div>
        <div class="item column-align">
            <div class="key">Page Count</div>
            <div class="value">{{index.page_count}}</div>
        </div>
        <div class="item column-align">
            <div class="key">Editable</div>
            <div class="value">{{index.editable}}</div>
        </div>
    </div>
</div>