.wrapper {
    padding: 15px;
    width: calc(100% - 30px);
    .table {
        width: 100%;
        padding-top: 15px;
        .mat-column-date {
            width: 150px;
            min-width: 150px;
            max-width: 200px;
        }
        .mat-header-cell {
            background-color: #e6ecff;
        }
        .mat-row,
        .mat-header-row {
            height: 45px;
        }
    }
}
