<topnav-comp></topnav-comp>

<div class="wrapper">
    <map-comp class="mapContainer" (selectedPlaceEvent)="handleSelectedPlace($event)"></map-comp>
    <div class="metaContainer" *ngIf="selectedPlace">
        <h1 *ngIf="selectedPlace.FULLADDRESS">{{selectedPlace.FULLADDRESS}}</h1>
        <h5>{{selectedPlace.CITY}}, {{selectedPlace.STATE}} {{selectedPlace.ZIPCODE}}</h5>
        <h1 *ngIf="!selectedPlace.FULLADDRESS">-</h1>
        <div class="image">

        </div>
        <div class="basic-wrapper">
            <div class="left">
                <h2 *ngIf="selectedPlace.PRICE">${{selectedPlace.PRICE}}</h2>
                <h2 *ngIf="!selectedPlace.PRICE">$ -</h2>
                <h3 *ngIf="selectedPlace.GRADE">Condition: <span style="font-size: 18px; font-weight: normal;">{{selectedPlace.GRADE}}</span></h3> 
                <h3 *ngIf="!selectedPlace.GRADE">Condition: -</h3>
            </div>
            <div class="right">
                <button mat-raised-button>LIKE</button>
                <span style="padding-left: 8px;"></span>
                <button mat-raised-button>SHARE</button>
            </div>
        </div>
        <mat-card>
            <mat-card-content style="flex-wrap: wrap; display: flex;">
                <div class="keyValuePair">
                    <mat-icon aria-hidden="false" aria-label="Heat" class="icon material-icons-outlined">bed</mat-icon>
                    <div class="display: flex; flex-direction: column">
                        <div class="value">{{selectedPlace.BEDRM}}</div>
                        <div class="key">Bedroom</div>
                    </div>
                </div>
                <div class="keyValuePair">
                    <mat-icon aria-hidden="false" aria-label="AC" class="icon material-icons-outlined">bathtub</mat-icon>
                    <div class="display: flex; flex-direction: column">
                        <div class="value">{{selectedPlace.BATHRM}}</div>
                        <div class="key">Bathroom</div>
                    </div>
                </div>
                <div class="keyValuePair">
                    <mat-icon aria-hidden="false" aria-label="AC" class="icon material-icons-outlined">countertops</mat-icon>
                    <div class="display: flex; flex-direction: column">
                        <div class="value">{{selectedPlace.HF_BATHRM}}</div>
                        <div class="key">Half Bathroom</div>
                    </div>
                </div>
                <div class="keyValuePair">
                    <mat-icon aria-hidden="false" aria-label="AC" class="icon material-icons-outlined">fireplace</mat-icon>
                    <div class="display: flex; flex-direction: column">
                        <div class="value">{{selectedPlace.FIREPLACE}}</div>
                        <div class="key">Fireplace</div>
                    </div>
                </div>
                <div class="keyValuePair">
                    <mat-icon aria-hidden="false" aria-label="AC" class="icon material-icons-outlined">kitchen</mat-icon>
                    <div class="display: flex; flex-direction: column">
                        <div class="value">{{selectedPlace.KITCHENS}}</div>
                        <div class="key">Kitchen</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <br>
        <mat-card>
            <mat-card-content style="flex-wrap: wrap; display: flex;">
                <div class="keyValuePair">
                    <mat-icon aria-hidden="false" aria-label="Heat" class="icon material-icons-outlined">hvac</mat-icon>
                    <div class="display: flex; flex-direction: column">
                        <div class="value">{{selectedPlace.HEAT}}</div>
                        <div class="key">Heat Type</div>
                    </div>
                </div>
                <div class="keyValuePair">
                    <mat-icon aria-hidden="false" aria-label="AC" class="icon material-icons-outlined">ac_unit</mat-icon>
                    <div class="display: flex; flex-direction: column">
                        <div class="value">{{selectedPlace.AC}}</div>
                        <div class="key">Air Condition</div>
                    </div>
                </div>
                <div class="keyValuePair">
                    <mat-icon aria-hidden="false" aria-label="AC" class="icon material-icons-outlined">roofing</mat-icon>
                    <div class="display: flex; flex-direction: column">
                        <div class="value">{{selectedPlace.ROOF}}</div>
                        <div class="key">Roof</div>
                    </div>
                </div>
                <div class="keyValuePair">
                    <mat-icon aria-hidden="false" aria-label="AC" class="icon material-icons-outlined">house_siding</mat-icon>
                    <div class="display: flex; flex-direction: column">
                        <div class="value">{{selectedPlace.EXTWALL}}</div>
                        <div class="key">External Wall</div>
                    </div>
                </div>
                <div class="keyValuePair">
                    <mat-icon aria-hidden="false" aria-label="AC" class="icon material-icons-outlined">cabin</mat-icon>
                    <div class="display: flex; flex-direction: column">
                        <div class="value">{{selectedPlace.INTWALL}}</div>
                        <div class="key">Interior Wall</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <br>
        <mat-card>
            <mat-card-content style="flex-wrap: wrap; display: flex;">
                <div class="keyValuePair">
                    <mat-icon aria-hidden="false" aria-label="Heat" class="icon material-icons-outlined">domain</mat-icon>
                    <div class="display: flex; flex-direction: column">
                        <div class="value">{{selectedPlace.STORIES}}</div>
                        <div class="key">Stories</div>
                    </div>
                </div>
                <div class="keyValuePair">
                    <mat-icon aria-hidden="false" aria-label="AC" class="icon material-icons-outlined">apartment</mat-icon>
                    <div class="display: flex; flex-direction: column">
                        <div class="value">{{selectedPlace.NUM_UNITS}}</div>
                        <div class="key">Number of Units</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <br>
        <mat-card>
            <mat-card-content style="flex-wrap: wrap; display: flex;">
                <div class="keyValuePair">
                    <mat-icon aria-hidden="false" aria-label="Heat" class="icon material-icons-outlined">construction</mat-icon>
                    <div class="display: flex; flex-direction: column">
                        <div class="value">{{selectedPlace.AYB}}</div>
                        <div class="key">Actual Year Build</div>
                    </div>
                </div>
                <div class="keyValuePair">
                    <mat-icon aria-hidden="false" aria-label="AC" class="icon material-icons-outlined">build</mat-icon>
                    <div class="display: flex; flex-direction: column">
                        <div class="value">{{selectedPlace.EYB}}</div>
                        <div class="key">Effective Year Built</div>
                    </div>
                </div>
                <div class="keyValuePair">
                    <mat-icon aria-hidden="false" aria-label="AC" class="icon material-icons-outlined">handyman</mat-icon>
                    <div class="display: flex; flex-direction: column">
                        <div class="value">{{selectedPlace.YR_RMDL}}</div>
                        <div class="key">Year Remodeled</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>