<topnav-comp></topnav-comp>
<div class="row-align" style="width: 100%; height: calc(100% - 57px)">
    <view-comp style="width: 50%;"></view-comp>
    <div style="width: 50%;">
        <mat-tab-group selectedIndex="0">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">list</mat-icon>
                    <label style="padding-left: 5px;">Index Values</label>
                </ng-template>
                <index-comp style="width: 50%;"></index-comp>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">edit_note</mat-icon>
                    <label style="padding-left: 5px;">Notes</label>
                </ng-template>
                <notes-comp></notes-comp>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">view_list</mat-icon>
                    <label style="padding-left: 5px;">Audit Trail</label>
                </ng-template>
                <audit-comp></audit-comp>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">attachment</mat-icon>
                    <label style="padding-left: 5px;">Attachments</label>
                </ng-template>
                <attach-comp></attach-comp>
            </mat-tab>
        </mat-tab-group>
    </div>


</div>