.wrapper {
    display: flex;
    flex-direction: row;
    height: calc(100% - 56px);
    width: 100%;
    .basic-wrapper {
        display: flex;
        flex-direction: row;
        .left {
            width: 50%;
        }
        .right {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 50%;
            
        }
    }
    .mapContainer {
        width: 60%;
    }
    .metaContainer {
        width: 40%;
        padding: 15px;
        overflow-y: scroll;
        .image {
            width: 100%;
            height: 30%;
            min-height: 300px;
            max-height: 400px;
            background-color: #b3b3b3;
        }
        .keyValuePair {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 15px;
            width: 220px;
            .icon {
                height: 56px;
                width: 56px;
                font-size: 56px;
                padding-right: 15px;
            }
            .key {
                font-size: 11pt;
                color: #b3b3b3;
            }
            .value {
                padding-bottom: 5px;
                font-size: 14pt;
            }
        }
    }
}
